/* 남색 262262 */

ul {padding-inline-start: 0px;}
h2 { margin-block-start: 0;
    margin-block-end: 0;
  font-size: 30px;}

html {margin:0;}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar {
    background-color: #f0f0f0; /* 밝은 배경색 */
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .logo {
    padding: 10px; /* 로고 주변 여백 설정 */
  }
  
  .logo img {
    max-width: 250px;
    height: auto;
  }
  
  
  .nav-links {
    list-style: none;
    display: flex;
  }

  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #000;
  }
  
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line1, .line2, .line3 {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 4px 0;
  }

  /* Section styles */
  .section-1 {
    background-image: url('../images/background-3.png');
    background-size: cover;
    background-position: center;
    padding: 5vw 2vw; /* 반응형 단위 사용 */
    text-align: left;
    height: 300px; 
  }

  .section-1 .section-content {
    max-width: 90vw; /* 반응형 단위 사용 */
    margin: 150px 0 0 20vw;
    color: #fff;
  }

  .section-1 .section-content h2 {
    font-size: 3.3vw; /* 반응형 단위 사용 */
    font-weight: 500;
    line-height: 0.3;
  }

  .section-1 .section-content p {
    font-size: 1.5vw; /* 반응형 단위 사용 */
    font-weight: 300;
  }



.section-2 {
    padding: 50px 20px;
    text-align: center;
    margin: 50px 0;
}

.section-2 h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.section-2 .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 요소들을 수평으로 중앙 정렬 */
    max-width: 1000px; 
    margin: 0 auto; /* 가운데 정렬 */
}

.section-2 .gallery-item {
    width: calc(33% - 20px); /* 3개의 네모 박스를 정렬하기 위한 너비 */
    margin: 10px;
    text-align: center;
}

.section-2 .image-box {
    width: 100%;
    height: 250px; /* 이미지 상자의 높이 설정 */
    overflow: hidden; /* 내용이 상자를 벗어나는 것을 숨김 */
    display: flex;
    justify-content: center; /* 이미지를 수평으로 가운데 정렬 */
    align-items: center; /* 이미지를 수직으로 가운데 정렬 */
    padding-top:20px;
    padding-bottom: 20px;
    background-color: #f0f0f0;
}

.section-2 .image-box img {
    max-width: 100%; /* 이미지를 부모 요소의 너비에 맞춤 */
    max-height: 100%; /* 이미지를 부모 요소의 높이에 맞춤 */
    display: block;
    margin: auto; /* 가운데 정렬 */
}

.section-2 .gallery-item p {
    font-size: 16px;
    font-weight: 300;
}

.section-3 {
    background-color: #f0f0f0;
    background-image: url('../images/background-3.jpg');
    background-size: cover;
    padding: 50px 0;
}

.section-3 .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 요소들을 수평으로 중앙 정렬 */
    max-width: 1000px; 
    margin: 0 auto; /* 가운데 정렬 */
}

.section-3 .gallery-item {
    width: 600px;
    margin: 15px;
    text-align: center;
    
}

.section-3 .image-box {
    height: 50px;
    width: 50px;
    overflow: hidden; /* 내용이 상자를 벗어나는 것을 숨김 */
    display: inline-block;
    justify-content: center; /* 이미지를 수평으로 가운데 정렬 */
    align-items: center; /* 이미지를 수직으로 가운데 정렬 */
    margin-top:20px;
    margin-bottom: 20px;
    float: left;
    margin-left: 20px;
    padding:30px;
    background-color: #fff;
    border-radius: 100%;
}

.section-3 .image-box img {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.section-3 .gallery-item p {
    display: inline-block;   
    float: left;
    margin-left: 30px;
    padding-top: 50px;
    font-size: 17px;
    font-weight: 300;
}

.section-4 { text-align: center; 
margin :20px 0;}

.section-4 h2 {
    padding-top: 50px;
}

.section-4 iframe {
width: 700px;
height: 500px;
}




  .section-5 {
    background-color: #f0f0f0;
    background-image: url('../images/background-5.jpg');
    background-size: cover;
    height: 600px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-5 .text h2{
    font-size: 35px;
}

.section-5 .text p{
    font-size: 15px;
    font-weight: 300;
}

.section-5 .image-box {
    width: 1000px;
}

.section-5 .image-box img {
    width: 100%;
    
}


.section-6, .section-8 {
    background-color: #fff;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-6 p, .section-8 p {
    font-weight: 300;
    line-height: 25px;
    margin-top:20px;
}

.section-6 .button-container,
.section-8 .button-container
 {
    display: inline-block; /* 부모 요소인 section을 기반으로 가로로 정렬 */
    margin-top: 20px;
  }
  
.section-6 .button,
.section-8 .button {
    display: block;
    margin: 0 auto;
  }


.section-7 {
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-7 p {
    font-weight: 300;
    line-height: 25px;
    margin-top:20px;
}

.section-7 .button-container
 {
    display: inline-block; /* 부모 요소인 section을 기반으로 가로로 정렬 */
    margin-top: 20px;
  }
  
.section-7 .button, {
    display: block;
    margin: 0 auto;
  }


.section-9 {
    background-color: #262262;
    background-image: url('../images/Australia-2.jpg');
    background-size: cover;
    height: 600px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-9 .text {
    width: 900px;
}


.section-9 .text h2{
    font-size: 40px;
}

.section-9 .text p{
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}


.footer {
    color: #262262;
    padding: 20px;
    text-align: center;
    line-height: 20px;
    font-size:400;
    background-color: #f0f0f0;
}

.footer img {
    max-width:300px;
    width: 30%
}

.footer .address {
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer .contact-link {
    text-decoration: none;
    margin: 0 10px;
}




  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: absolute;
      top: 60px;
      background-color: #f0f0f0;
      left: 0;
      padding-left: 30px;
    }
  
      .nav-links.nav-active {
        display: block; /* 버거 아이콘이 클릭되었을 때 보이도록 설정 */
        width: 100%;
      }
  
    .nav-links li {
      margin: 20px 0;
    }
  
    .burger {
      display: flex;
    }

    h2 { font-size: 6vw;}
    

      .section-1 {
        text-align: center;
      }

      .section-1 .section-content {
        margin:150px 0 0 0; }

        .section-1 .section-content h2 {
          font-size: 6vw;
}

.section-1 .section-content p {
  font-size: 3vw;
}
  




.section-2 .image-box {
  width: 100%;
  height: 100px; /* 이미지 상자의 높이 설정 */
 
}





.section-3 .image-box {
  height: 50px;
  width: 50px;
  overflow: hidden; 
  display: inline-block;
  justify-content: center; 
  align-items: center; 
  margin-top:20px;
  margin-bottom: 5px;
  float: none;
  margin-left: 0px;
  padding:30px;
  background-color: #fff;
  border-radius: 100%;
}

.section-3 .image-box img {
  height: 100%;
  width: 100%;
  display: block;
}

.section-3 .gallery-item p {
  display: block;   
  float: none;
  margin-left: 0px;
  padding-top: 5px;
  font-size: 17px;
  font-weight: 300;
}


.section-5 .text h2{
  font-size: 6vw;
}


    .section-5 .image-box {
        width: 100%;
    }

    .section-4 iframe {
      width: 500px;
      height: 350px;
      }


    .section-9 {
      padding: 0 20px 0 20px;
  }
  

  
  .section-9 .text p{
      font-size: 15px;
      line-height: 20px;
  }





    
  }


  @media screen and (max-width: 500px) {

    .section-4 iframe {
      width: 300px;
      height: 250px;
      }
      

  }

  @media screen and (max-width: 300px) {

    .logo img {
      max-width: 150px;
      height: auto;
    }

    .section-4 iframe {
      width: 200px;
      height: 150px;
      }

      .section-9 {
        padding: 0 20px 0 20px;
        height: 800px;
    }
      
  }

  @media screen and (max-width: 200px) {

    .logo img {
      max-width: 100px;
      height: auto;
    }

    .section-4 iframe {
      width: 100px;
      height: 80px;
      }
      
  }



















  *:after,
  *:before {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }


  .cf:before,
  .cf:after {
      content: '';
      display: table;
  }
  .cf:after {
      clear: both;
  }
  
  .support {
      font-weight: bold;
      padding: 2em 0 0 0;
      font-size: 1.4em;
      color: #ee2563;
      display: none;
  }
  a {
      color: #7986cb;
      text-decoration: none;
      outline: none;
  }
  a:hover,
  a:focus {
      color: #3f51b5;
  }

  
/* Common button styles */
.button {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    text-align: center;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
	color: #37474f;
	border-color: #37474f;
}
.bg-2 .button {
	color: #ECEFF1;
	border-color: #ECEFF1;
}
.bg-3 .button {
	color: #fff;
	border-color: #fff;
}

/* Sizes */
.button--size-s {
	font-size: 14px;
}
.button--size-m {
	font-size: 16px;
}
.button--size-l {
	font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
	letter-spacing: 2px;
	text-transform: uppercase;
}
.button--text-thin {
	font-weight: 300;
}
.button--text-medium {
	font-weight: 500;
}
.button--text-thick {
	font-weight: 600;
}
.button--round-s {
	border-radius: 5px;
}
.button--round-m {
	border-radius: 15px;
}
.button--round-l {
	border-radius: 40px;
}

/* Borders */
.button--border-thin {
	border: 1px solid;
}
.button--border-medium {
	border: 2px solid;
}
.button--border-thick {
	border: 3px solid;
}

/* Individual button styles */

/* Winona */
.button--winona {
	overflow: hidden;
	padding: 0;
	-webkit-transition: border-color 0.3s, background-color 0.3s;
	transition: border-color 0.3s, background-color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	color: #3f51b5;
	-webkit-transform: translate3d(0, 25%, 0);
	transform: translate3d(0, 25%, 0);
}
.button--winona > span {
	display: block;
}
.button--winona.button--inverted {
	color: #7986cb;
}
.button--winona.button--inverted:after {
	color: #fff;
}
.button--winona::after,
.button--winona > span {
	padding: 1em 2em;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona:hover {
	border-color: #3f51b5;
	background-color: rgba(63, 81, 181, 0.1);
}
.button--winona.button--inverted:hover {
	border-color: #21333C;
	background-color: #21333C;
}
.button--winona:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.button--winona:hover > span {
	opacity: 0;
	-webkit-transform: translate3d(0, -25%, 0);
	transform: translate3d(0, -25%, 0);
}
